@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

.btn {
    @apply py-1.5 px-4 rounded-st focus:outline-none;
}

.primarySVG {
    filter: invert(17%) sepia(34%) saturate(4753%) hue-rotate(326deg)
        brightness(108%) contrast(107%);
}
.whiteSVG {
    filter: invert(100%) sepia(27%) saturate(2643%) hue-rotate(159deg)
        brightness(127%) contrast(107%);
}

* {
    font-family: "Roboto", sans-serif;
}
body {
    background-color: #eeeff2;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

td,
th {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

th {
    border-bottom: #70707080 1px solid;
    padding-top: 0;
}

tr td:first-child,
th:first-child {
    border-right: #70707080 1px solid;
}

tr:last-child td {
    border-top: #70707080 1px solid;
    font-weight: bold;
    padding-bottom: 0;
}

.card-container {
    transform-style: preserve-3d;
    perspective: 1000px;
}

.card {
    position: relative;
    background-position: top center;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: top center;
}

.card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.5rem;
    border-radius: 50%;
    left: 0;
    bottom: 0;
    box-shadow: 0 3rem 20px rgba(0, 0, 0, 0.473);
}

.card-content {
    transform-style: preserve-3d;
    text-align: center;
    display: flex;
    gap: 6rem;
    flex-direction: column;
}

.card-content h4 {
    transform: translateZ(100px);
    padding: 0 1.5rem;
}
.card-content img {
    transform: translateZ(50px);
}
