node_modules/
# IDE - WebStorm
.idea
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
.idea/shelf

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

build
files

.env

node_modules

